<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="card-text">{{name}}</h3>
            <p class="card-text">Adres: <br>
                {{address.street}} <br>
                {{address.postCode}} <br>
                {{address.city}} <br>
            </p>
            <p class="card-text">Nip:{{nip}}</p>
        </div>
    </div>
</div>
<div class="container">
    <h2>Akcja</h2>
    <p>dgsg
        <a href="" class="btn btn-primary">Edit</a>
        <a href="" class="btn btn-danger">Delete</a>
    </p>

</div>